* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.container {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  font-family: 'Calistoga', cursive;
  font-size: 70px;
  color: #32292F;
  position: relative;
  margin: 10px;
  letter-spacing: 1.5px;
}

img {
  height: 266px;
  width: 200px;
  border-radius: 50%;
  border: 8px solid #32292F;
}

.card {
  margin: 20px;
  border: 3px solid black;
  background-color: yellow;
  width: 50%;
  /* width: 60%; */
  padding-bottom: 25px;
}

h2 {
  font-size: 40px;
  color: #D1462F;
  margin: 1px;
}

span {
  color: green;
}

p {
  font-size: 20px;
  margin: 5px;
  margin-bottom: 19px;
  line-height: 170%;
}

.btn-black {
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  width: 45%;
  border-radius: 20px;
  color: yellow;
  background-color: black;
  transition: width 1s;
  margin: 5px;
}

.btn-black:hover {
  background-color: brown;
  box-shadow: 0px 0px 20px rgb(98, 13, 155);
  width: 25%;
}

h3 {
  padding-top: 17px;
  padding-bottom: 12px;
  font-size: 25px;
  /* position: static; */
}

ul#horizontal-list li {
  display: inline;
  padding-inline-start: 0px;
  /* align-self: center; */
  /* text-align: center; */
}

ul#horizontal-list li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  /* position: relative; */
}

ul#horizontal-list li a:hover {
  text-decoration: none;
  color: brown;
  font-size: 50px;
  /* box-shadow: 0 0 5px #ffee10; */
  text-shadow: 0px 0px 20px rgb(98, 13, 155);
  /* position: relative; */
}
